// Breakpoints

$webDesktop: 1025px;
$webLarge: 1600px;
$webXLarge: 1824px;
$webXXLarge: 1920px;

$medium: 768px;
$large: 1024px;
$x-large: 1280px;
$xx-large: 1440px;

// Colors

$primary: #f1682b;
$secondary: #2b5f7b;
$white: #ffffff;
